html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 25% 75%;
}

.second-column{
    display: grid;
    grid-template-rows: 25% 75%;
    max-height: 100vh;
}

.sidebar{
    display: grid;
    grid-template-rows: 50px repeat(11, 30px);
    background-color: rgb(26, 146, 211);
    justify-content: start;
    max-height: 100vh;
    overflow: scroll;
    padding: 10px;
}

.sidebar-item span
{
    position: relative;
    top: -4px;
}

.sidebar-item>a.Dashboard span{
    top: -8px;
}

a.Dashboard{
    font-size: 20px;
    margin-left: 5px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

.header{
    background-color: white;
}

.main{
    background-color: rgb(226, 232, 240);
}

a>img{
    height: 65%;
}