html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 25% 75%;
}

.second-column{
    display: grid;
    grid-template-rows: 25% 75%;
    max-height: 100vh;
}

.sidebar{
    display: grid;
    grid-template-rows: 50px repeat(11, 30px);
    background-color: rgb(26, 146, 211);
    justify-content: start;
    max-height: 100vh;
    overflow: scroll;
    padding: 10px;
}

.sidebar-item span
{
    position: relative;
    top: -4px;
}

.sidebar-item>a.Dashboard span{
    top: -8px;
}

.sidebar a.Dashboard{
    font-size: 20px;
    margin-left: 5px;
}

.sidebar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

.sidebar img, .header img{
    height: 65%;
}

.header{
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: 5fr repeat(3, 1fr);
    background-color: white;
    max-height: 100vh;
}

.searchbar{
    margin: auto;
    margin-left: 20px;
    height: 20px;
    width: 110%;
}

input{
    border-radius: 20px;
    width: 80%;
}

.header>.alert-icon{
    margin: auto;
    margin-right: -20%;
    height: 20px;
}

.header>.profile-icon{
    height: 50%;
    margin: auto;
}

.username{
    margin: auto;
    margin-left: -20%;
}

.welcomeInfo{
    height: 100px;
    margin: auto;
    margin-left: 20px;
    display: flex;
    margin-top: 3%;
}

.welcomeInfo>div>span{
    font-size: 20px;
    font-weight: 800;
}

button{
    border-radius: 20px;
    height: 30px;
    width: 70px;
    border: none;
    color: white;
    background-color: rgb(26, 146, 211);
    margin: auto;
}

.newButton{
    margin-right: -5%;
}

.shareButton{
    margin-left: -5%;
}

button:hover{
    cursor: pointer;
}

.main{
    background-color: rgb(226, 232, 240);
}